@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* .content h1 {
    @apply text-5x text-mineral font-bold pb-7;
} */


.content h1, .content h2 {
  @apply text-mineral font-bold pb-7 text-5xl;
}
.content h3 {
    @apply text-mineral font-bold pb-7 text-3xl;
}

.content p {
    @apply pb-6
}

.content a {
    @apply text-main hover:opacity-75;
}

.content ul {
    @apply pb-10 list-disc ml-4 pl-4
}
